{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    {% bootstrap_css %}
</head>
<body class="d-flex flex-column min-vh-100">
    <header class="bg-light py-3 border-bottom">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <a class="navbar-brand display-4 text-decoration-none text-reset" href="{% url 'main:index' %}">Design.pro</a>
                <nav>
                    {% if user.is_authenticated %}
                        <div class="d-flex gap-3 align-items-center">
                            {% if user.is_superuser %}
                                <a href="{% url 'users:logout' %}" class="btn btn-outline-secondary">Выйти</a>
                                <a href="{% url 'admin:index' %}" class="btn btn-outline-secondary">Админка</a>
                                <a href="{% url 'main:manage_categories' %}" class="btn btn-outline-primary">Управление категориями</a>
                            {% else %}
                                <a href="{% url 'users:profile' %}" class="btn btn-outline-secondary">Личный кабинет</a>
                                <a href="{% url 'users:logout' %}" class="btn btn-outline-secondary">Выйти</a>
                            {% endif %}
                        </div>
                    {% else %}
                        <a href="{% url 'users:login' %}" class="btn btn-outline-primary">Войти</a>
                        <a href="{% url 'users:register' %}" class="btn btn-primary">Регистрация</a>
                    {% endif %}
                </nav>
            </div>
        </div>
    </header>

    <main class="flex-fill py-5">
        <div class="container">
            {% if messages %}
                <div>
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer class="bg-dark text-white text-center py-4">
        <div class="container">
            <p>&copy; 2024 Design Studio</p>
        </div>
    </footer>
    {% bootstrap_javascript %}
</body>
</html>
